body {
  font-family: Arial;
  background: #0b0f1a;
  color: white;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.card {
  background: #131929;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
